.submit{position: fixed;bottom: 0.5rem;height: 4rem;line-height: 4rem;border-radius: 4px;width: 96%;left: 2%;background-color: rgba(255, 152, 0, 1);color: rgba(255, 255, 255, 1);font-size: 14px;text-align: center;font-family: Microsoft Yahei;}
.submit2{background-color: #FF0000}
.list-main{position: fixed;background-color: #FFFFFF;width: 92%;left: 2%;padding: 1rem 2%;border-radius: 5px;border: 1px solid gainsboro;bottom: 5rem;}
.lists-content{margin-top: 0;}
.customer{position: fixed;background-color: #FFFFFF;width: 100%;align-items: center;border: 1px solid gainsboro;border-radius: 5px;width: 96%;left: 2%;bottom: -20rem;}
.customer-img{width: 5rem;height: 5rem;border-radius: 50%;overflow: hidden;}
.customer-img img{width:5rem;height: 5rem;border-radius: 50%;}
.customer-content{flex: 1;color: rgba(150, 150, 150, 1);text-align: left;font-family: Arial;font-size: 1.4rem;padding-left: 1rem;}
.customer-go{margin-top: 1rem;width: 5rem;height: 2rem;line-height: 2rem;border-radius: 4px;background-color: rgba(43, 152, 252, 1);color: rgba(255, 255, 255, 1);font-size:1rem;text-align: center;font-family: Microsoft Yahei;}
.customer-gos{width: 5rem;}
.customer-content p{height: 2rem;text-align: left;font-family: Arial;}
.customer-content p a{vertical-align: middle;}
.customer-content img{height: 1.4rem;vertical-align: middle;margin-left: 1rem;}
.customer-content p:first-child{font-size: ;}
.customer-name{font-size: 1.4rem;color: rgba(50, 50, 50, 1);}
.customer-content .phone-number{height: 3rem;line-height: 3rem;}
.customer-bottom{width: 100%;border-top: 1px solid gainsboro;text-align: center;color: rgba(100, 100, 100, 1);font-size: 1.4rem;font-family: Arial;}
.customer-top{width: 92%;left: 2%;padding: 2rem 2%;}

.shadow{width: 100%;height: 100%;background-color: rgba(0,0,0,0.4);position: fixed;top: 998;display: none;}
.confirm{display: none;border-radius: 13px;background-color: rgba(255, 255, 255, 1);text-align: center;width:70%;left: 15%;z-index: 999;position: fixed;top: 50%;transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);}
.confirm-tip{color: rgba(50, 50, 50, 1);font-size: 1.8rem;text-align: center;font-family: Arial;padding: 2.4rem 0;border-bottom: 1px solid darkgray;}
.confirm-container-diolog{width: 50%;float: left;padding: 0.8rem 0;left: 111px;text-align: center;font-size: 1.5rem;font-family: Arial;}
.cancle{border-right: 1px solid darkgray;color: rgba(255, 0, 0, 1);text-align: center;font-family: Arial;}
.sure{color: rgba(0, 102, 255, 1);}


.dianzi{position: absolute;right: 0;top: 0;border-top-right-radius: 5px;border-bottom-left-radius: 5px;padding: 0.5rem 1rem;color: rgba(209, 236, 255, 1);text-align: center;font-family: Arial;}

.customer-navs{width: 33.3%;float: left;}
.customer-navs2{border-right: 1px solid gainsboro;}
.customer-bottom{padding: 0;height: 4rem;line-height:4rem;}
.customer-bottom a{color: rgba(100, 100, 100, 1);text-decoration: none;}
.customer-mid{width: 92%;left: 2%;padding: 0.5rem 2%;font-size: 1.2rem;}
.pickuptime{padding: 1rem 0;}



.cancle-reason{position: fixed;top: 1rem;width: 92%;left: 2%;background-color: #FFFFFF;padding: 10px 2%;border-radius: 5px;border: 1px solid gainsboro;display: none;}
.cancle-reason p{height: 2rem;line-height: 2rem;}
.cancle-reason p:first-child{color: rgba(100, 100, 100, 1);font-size: 1.4rem;font-family: Arial;height: 3rem;line-height: 3rem;}
.cancle-reason p:last-child{color: rgba(100, 100, 100, 1);font-family: Arial;font-size: 1.2rem;}

.reason-type{color: #FF9800;}
.reason-pic{margin-top: 1rem;}
.reason-pics{width: 28%;margin-right: 8%;background-color: gainsboro}
.reason-pics:last-child{margin-right: 0;}
/*.select{position: fixed;bottom: 0;height: 10rem;width: 100%;background-color: #FFFFFF;z-index: 999;}*/
.ios-select-widget-box header.iosselect-header a{color: #FFFFFF;font-size: 1.2rem;font-family: Arial;}
.ios-select-widget-box header.iosselect-header{background-color: #FF9800}
.ios-select-widget-box #iosSelectTitle{color: #FFFFFF;font-size: 1.4rem;font-family: Arial;}
.ios-select-widget-box ul li{font-size:1.2rem;text-align: center;font-family: Arial;}


.star-assess{width: 1.8rem;vertical-align: middle;margin-right: 1rem;}
.dianzi2{background-color: #2B98FC;}
.dianzi3{background-color: #FF4747;}
#tipinput{font-size: 1.6rem;}

.complaining{width: 92%;left: 2%;position: fixed;top: 1rem;padding: 1rem 2%;background-color: #FFFFFF;z-index: 5;border: 1px solid gainsboro;border-radius: 5px;display: none;}
.complaining p{height:2.4rem;line-height:2.4rem;color: rgba(50, 50, 50, 1);font-size: 1.4rem;text-align: left;font-family: Arial;}
.complaining-type{color: #FF9800;}
.complain-img{width:auto;height: 8rem;margin-top: 1rem;}
#customerTel{width: 100%;height: 100%;display: block;}
